################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SignalRProject/.vs
/SignalRProject/Client/bin
/SignalRProject/Client/obj
/SignalRProject/Server/bin
/SignalRProject/Server/obj